/* src/components/Footer.css */
.footer {
  background-color: #FFFFFF;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  margin: 0 auto;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}
